<div style="text-align: center;">
<h1>User Details</h1>
<input [(ngModel)]="tmpname" type="text" placeholder="Enter Name"><br><br>
<input [(ngModel)]="tmpemail" type="email" placeholder="Enter Email"><br><br>
<textarea [(ngModel)]="tmpadd" [ngStyle]="{
  width: '250px',
  height: '200px'
}" placeholder="Enter Address"></textarea><br><br>
<button (click)="addItem()">Submit</button>
<table style="margin: auto;">
  <tr>
    <th># &nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>Name &nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>Email &nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>Address &nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th>Action &nbsp;&nbsp;&nbsp;&nbsp;</th>
  </tr>
  <tr *ngFor="let item of objArray; let i = index">
    <td>{{item.id}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>{{item.name}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>{{item.email}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td>{{item.adres}}&nbsp;&nbsp;&nbsp;&nbsp;</td>
    <td><button (click)="deleteItem(i)">Delete&nbsp;&nbsp;&nbsp;&nbsp;</button></td>
  </tr>
</table>
</div>